<h1>Pit Display</h1>

<%= for pair <- Enum.chunk_every(@alliances, 2) do %>
  <span>Match <%= hd(pair).match_number %>: </span>
  <%= for alliance <- pair do %>
    <%= alliance.alliance %>: <%= alliance.total_points %>
  <% end %>
  <br/>
<% end %>
